<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hi,I'm Sridhar</h1>
    <p>Welcome to Ruby on Rails</p>
    <p>This is my first project on Ruby on Rails building the Blog application</p>
  </div>
</div>